.App {
  height: 120vh;
  width: 100vw;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  place-items: center;
  background-color: #231f20;
  color: #fff;
  background-size: cover;
}
/* Main content */
.content {
  background-color: #231f20;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 300px;
  width: 90vw;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 4vh;
}

/* Navbar Styles */
.heading {
  position: fixed !important;
  grid-area: header;
  margin-left: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #dda830;
  background-color: #231f20;
}
.phantom-header {
  display: block;
  height: 50px;
}

.navbar-item {
  padding-inline: 5rem;
  text-decoration: none;
}
.navbar-item:hover {
  border-right: 1px solid #dda830;
  border-left: 1px solid #dda830;
}
.navbar-text {
  color: #fff !important;
}
/* Homepage styles */
.home-carousel-img {
  height: 90vh;
  width: 100vw;
}
.carousel-caption {
  top: 25vh;
  bottom: auto;
  background-color: transparent;
}
.carousel-caption h1 {
  background-color: transparent;
  color: #000;
}

/* About us styles */
.about-us-container {
  overflow-y: auto;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-container {
  background-color: #2b272b !important;
  display: block;
  padding: 5px;
  border-radius: 20px !important;
}
.article-container-card {
  border: 0.2px solid #2b2c20 !important;
  border-radius: 20px !important;
}
.aboutus-img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 0.2px solid #2b2c20 !important;
  border-radius: 20px !important;
  justify-content: space-around;
  width: 86vw;
}
.article {
  background-color: #000;
  color: #000;
  padding: 10px;
  border-radius: 20px;
}
.article-title {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}
.article-line {
  margin: 1em auto;
  width: 70%;
  background-color: #fdb100;
  border: 1px solid #fdfdfd;
}
.article-content {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
.aboutus-imgs {
  width: 55vh;
  height: 40vh;
}
.aboutus-img {
  display: flex;
  margin: 1vh;
}
/* Contact Form Styles */
.form-container {
  overflow: auto;
  height: 100%;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-card {
  margin-top: 6rem;

  display: inline-block !important;
  color: #cd6827;
  border-radius: 20px !important;
  background-color: #272427 !important;
  max-width: 60vw !important;
  border: 2px solid #2e2a22 !important;
}
.contact-card-body {
  border-radius: 20px !important;
}
.form {
  margin-top: 2rem;
}
.form-title {
  margin-left: 30%;
}
.form-label {
  font-size: 2rem;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.705) !important;
}
.form-control:hover {
  background-color: #fff !important;
}
.form-control:focus {
  background-color: #fff !important;
}
.contact-button {
  margin-top: 2rem;
  margin-left: 10%;
  width: 80%;
}
/* Services rules */

.services-container {
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 10px;
  padding: 15px;
  background-color: #231f20;
  overflow: auto;
}

.services-card {
  display: flex;
  flex-grow: 1;
  flex-basis: 500px;
  max-width: 900px;
  padding: 2vh;
  margin: 2vh;
  border-radius: 20px !important;
  border: 2px solid #dda830 !important;
}
.services-title {
  text-align: center;
  background-color: #fff;
  color: #000;
}

.services-image {
  width: 100%;
  max-height: 40vh;
}
.services-service {
  background-color: #fff;
  color: #000;
}
.services-service-list {
  background-color: #fff;
  color: #000;
  margin: 0.5rem;
}
/* Our Work Rules */

.our-work-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1 1 auto;
  height: 100vh;
}
.our-work-card {
  max-width: 600px;
  max-height: 400px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 3rem;
}

/* Footer rules */

.footer {
  z-index: 1;
  grid-area: footer;
  display: flex;
  column-gap: 2em;
  align-items: center;
  bottom: 0px;
  width: 100%;
  margin-top: 2vh;
  min-height: 90px;
  border-top: 1px solid #dda830;
  background-color: #231f20;
}
.footer-title-name {
  text-align: center;
  font-size: 40px;
}
.footer-title-ccb {
  text-align: center;
  font-size: 20px;
}
.logo {
  position: absolute;
  margin-left: auto;
  order: 0;
  height: 150px;
  margin: 10px;
  margin-top: 0.5rem;
  margin-left: 3rem;
}
.footer-icon-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
}
.footer-icons {
  color: #fff;
  font-size: 100px;
  padding-right: 2rem;
  padding-left: 1rem;
}
.icon-div {
  display: inline-block;
}

/* Media rules */
@media only screen and (max-width: 1475px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 1320px) {
  .about-us-container {
    margin: 0;
  }
  .navbar-item {
    padding-inline: 3.5rem !important;
  }
  .footer {
    min-height: 488px;
  }
  .icon-div {
    display: block;
  }
}
/* These rules will be applied when menu fully collapses into hamburger */
@media only screen and (max-width: 992px) {
  .heading {
    height: 55px;
  }

  .navbar-text {
    display: block;
    padding: 4px !important;
  }
  .navbar-text:hover {
    border: 1px solid #dda830;
  }
  .navbar-item:hover {
    border: none;
  }
  .navbar-item {
    padding-top: 0;
    padding-inline: 1px !important;
    height: 1px;
  }
  .navbar-item:first-of-type {
    padding-top: 5px;
  }
  .contact-card {
    max-width: 85vw !important;
  }
  .phantom-header {
    display: block;
    margin-bottom: 1rem;
  }
  .logo {
    display: none;
  }
  .footer-icons {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footer-icons-container {
    font-size: 70px;
    padding-left: 0;
  }
  .form-title {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1400px) {
  .aboutus-img-container {
    margin-left: auto;
    margin-right: auto;
  }
}
