.App {
  height: 120vh;
  width: 100vw;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  place-items: center;
  background-color: #231f20;
  color: #fff;
  background-size: cover;
}
/* Main content */
.content {
  background-color: #231f20;
  display: flex;
  flex-direction: column;
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 19vh;
}

/* Navbar Styles */
.heading {
  position: sticky;
  grid-area: header;
  margin-left: 0;
  padding: 0.5rem;
  font-style: none;
  border-bottom: 1px solid #dda830;
  background-color: #231f20;
}
.phantom-header {
  display: block;
  height: 10vh;
  margin-bottom: 5vh;
}

.navbar-item {
  padding-inline: 5rem;
  text-decoration: none;
}
.navbar-item:hover {
  border-right: 1px solid #dda830;
  border-left: 1px solid #dda830;
}
.navbar-text {
  color: #fff !important;
}
/* Homepage styles */
.home-carousel-img {
  height: 100vh;
  width: 100vw;
}

/* About us styles */
.article-container {
  background-color: #2b272b !important;
  max-width: 1200px;
  display: block;
  border: 1px solid #2b2c20 !important;
  border-radius: 400px;
  padding: 5px;
}
.aboutus-img-container {
  display: block;
}
.article {
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: #000;
  padding: 10px;
}
.article-title {
  text-align: center;
}
.article-line {
  margin: 1em auto;
  width: 70%;
}
.article-content {
  text-align: center;
}
.aboutus-imgs {
  height: 40vh;
  padding: 2vh 2vh 0 2vh;
}
.aboutus-img-container {
  background-color: #2b272b !important;
  margin-top: 2vh;
  display: block;
  border-radius: 20px;
}
/* Contact Form Styles */
.contact-card {
  display: inline-block !important;
  color: #cd6827;
  border-radius: 50px !important;
  background-color: #2b272b !important;
  max-width: 60vw !important;
  border: 2px solid #2b2720 !important;
}
.form {
  margin-top: 2rem;
}
.form-title {
  margin-left: 30%;
}
.form-label {
  font-size: 2rem;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.705) !important;
}
.form-control:hover {
  background-color: #fff !important;
}
.form-control:focus {
  background-color: #fff !important;
}
.contact-button {
  margin-top: 2rem;
  margin-left: 10%;
  width: 80%;
}
/* Services rules */

.services-container {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  border-radius: 7%;
}

.services-card {
  flex: 0 1 150px;
}
.services-image {
}
/* Footer rules */
.footer {
  grid-area: footer;
  display: flex;
  column-gap: 2em;
  align-items: center;
  bottom: 0px;
  width: 100%;
  margin-top: 6vh;
  min-height: 7vh;
  border-top: 1px solid #dda830;
  background-color: #231f20;
}
.footer-title-name {
  text-align: center;
  font-size: 40px;
}
.footer-title-ccb {
  text-align: center;
  font-size: 20px;
}
.logo {
  position: absolute;
  margin-left: auto;
  order: 0;
  height: 150px;
  margin: 1vh;
  margin-top: 0.5rem;
  margin-left: 3rem;
}
.footer-icon-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
}
.footer-icons {
  font-size: 100px;
  padding-right: 2rem;
  padding-left: 1rem;
}
.icon-div {
  display: inline-block;
}

/* Media rules */
@media only screen and (max-width: 1475px) {
  .logo {
    display: none;
  }
}
@media only screen and (max-width: 1320px) {
  .navbar-item {
    padding-inline: 3.5rem !important;
  }
  .footer {
    margin-top: 150px;
  }
  .icon-div {
    display: block;
  }
}
/* These rules will be applied when menu fully collapses into hamburger */
@media only screen and (max-width: 992px) {
  .navbar-text {
    display: block;
  }
  .navbar-text:hover {
    border: 1px solid #dda830;
  }
  .navbar-item:hover {
    border: none;
  }
  .navbar-item {
    padding-top: 0;
  }
  .contact-card {
    max-width: 85vw !important;
  }
  .phantom-header {
    display: block;
    margin-bottom: 1rem;
  }
  .logo {
    display: none;
  }
  .footer-icons {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footer-icons-container {
    font-size: 70px;
    padding-left: 0;
  }
  .form-title {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1400px) {
  .aboutus-img-container {
    margin-left: 10vh;
    margin-right: auto;
  }
}
